body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.card {
  height: 100%;
}

.steps {
  margin-top: -41px;
  display: inline-block;
  float: right;
  font-size: 16px
}
.step {
  float: left;
  background: white;
  padding: 7px 13px;
  border-radius: 1px;
  text-align: center;
  width: 100px;
  position: relative
}
.step_line {
  margin: 0;
  width: 0;
  height: 0;
  border-left: 16px solid #fff;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  z-index: 1008;
  position: absolute;
  left: 99px;
  top: 1px
}
.step_line.backline {
  border-left: 20px solid #f7f7f7;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  z-index: 1006;
  position: absolute;
  left: 99px;
  top: -3px
}
.step_complete {
  background: #357ebd
}
.step_complete a.check-bc, .step_complete a.check-bc:hover,.afix-1,.afix-1:hover{
  color: #eee;
}
.step_line.step_complete {
  background: 0;
  border-left: 16px solid #357ebd
}
.step_thankyou {
  float: left;
  background: white;
  padding: 7px 13px;
  border-radius: 1px;
  text-align: center;
  width: 100px;
}
.step.check_step {
  margin-left: 5px;
}
.ch_pp {
  text-decoration: underline;
}
.ch_pp.sip {
  margin-left: 10px;
}
.check-bc,
.check-bc:hover {
  color: #222;
}
.SuccessField {
  border-color: #458845 !important;
  -webkit-box-shadow: 0 0 7px #9acc9a !important;
  -moz-box-shadow: 0 0 7px #9acc9a !important;
  box-shadow: 0 0 7px #9acc9a !important;
  /*background: #f9f9f9 url(../images/valid.png) no-repeat 98% center !important*/
}

.btn-xs{
  line-height: 28px;
}


/*
 * BOOTSTRAP
 */


div.panel-body {
    border: solid darkblue 1px;
}

.panel-heading {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-top: 20px;
}
.panel {
  border-radius: 10px;
  /*border: solid darkblue 1px;*/
}
.panel-info > .panel-heading {
  color: #eee;
  border-color: #089911;
    background: rgba(31,97,229,1);
    background: -moz-linear-gradient(left, rgba(31,97,229,1) 0%, rgba(72,195,232,1) 100%);
    background: -webkit-linear-gradient(left, rgba(31,97,229,1) 0%, rgba(72,195,232,1) 100%);
    background: -o-linear-gradient(left, rgba(31,97,229,1) 0%, rgba(72,195,232,1) 100%);
    background: -ms-linear-gradient(left, rgba(31,97,229,1) 0%, rgba(72,195,232,1) 100%);
    background: linear-gradient(to right, rgba(31,97,229,1) 0%, rgba(72,195,232,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f61e5', endColorstr='#48c3e8', GradientType=1 );
}


/*hr {*/
/*border-color: #999 -moz-use-text-color -moz-use-text-color;*/
/*}*/

.panel-footer {
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  border-top: 1px solid #999;
  background: #e8ffa8;
}

.btn-link {
  color: #888;
}

hr{
  margin-bottom: 10px;
  margin-top: 30px;
    border: solid #089911;
}

div.progress a {
    color: white;
}

.progress.m-lg-5 {
    height: 40px;
}

.progress-bar-striped{
  height: 40px;
}

.row.product-row{
  background-color: #DEE4E4;
}