

body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.card {
  height: 100%;
}

.steps {
  margin-top: -41px;
  display: inline-block;
  float: right;
  font-size: 16px
}
.step {
  float: left;
  background: white;
  padding: 7px 13px;
  border-radius: 1px;
  text-align: center;
  width: 100px;
  position: relative
}
.step_line {
  margin: 0;
  width: 0;
  height: 0;
  border-left: 16px solid #fff;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  z-index: 1008;
  position: absolute;
  left: 99px;
  top: 1px
}
.step_line.backline {
  border-left: 20px solid #f7f7f7;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  z-index: 1006;
  position: absolute;
  left: 99px;
  top: -3px
}
.step_complete {
  background: #357ebd
}
.step_complete a.check-bc, .step_complete a.check-bc:hover,.afix-1,.afix-1:hover{
  color: #eee;
}
.step_line.step_complete {
  background: 0;
  border-left: 16px solid #357ebd
}
.step_thankyou {
  float: left;
  background: white;
  padding: 7px 13px;
  border-radius: 1px;
  text-align: center;
  width: 100px;
}
.step.check_step {
  margin-left: 5px;
}

.check-bc,
.check-bc:hover {
  color: #222;
}









